<% var categories %><% var role %> <%- include('parts/header') %>
<section class="m-4 p-4">
    <div class="container">
        <h2 class="text-center mb-4">Kategoriyalar</h2>

        <div class="row g-4 mt-2">
            <% for(let category of categories) {%>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card text-center bg-white" style="flex-grow: 1">
                    <img
                        src="img/<%= category.category_photo%>"
                        class="card-img-top bg-white"
                        style="
                            height: 200px;
                            object-fit: contain;
                            margin: 0 auto;
                        "
                        alt="..."
                    />
                    <div class="card-body">
                        <a
                            href="/category/<%= category.category_id%>"
                            class="btn btn-primary m-0 p-2"
                            ><h5 class="card-title p-0 m-0">
                                <%= category.category_name%>
                            </h5></a
                        >
                        <% if(role === "admin") {%>
                        <a
                            href="/admin/<%= category.category_id%>"
                            class="btn btn-danger m-0 p-2"
                            ><h5 class="card-title p-0 m-0">Delete</h5></a
                        >
                        <% } %>
                    </div>
                </div>
            </div>
            <%} %>
        </div>
    </div>
</section>
<% -include('parts/footer') %>
